{% block conteudo %}
<h1>Pagina de Login</h1>
<section>
    <form action="" method="">
        <div>
            <label for="nome_cadastro" >Nome Completo</label>
            <input type="text" name="nome_cadastro" placeholder="Digite seu nome" required>
        </div>
        <div>
            <label for="email">email</label>
            <input type="text" name="email" placeholder="Digite seu email" required>
        </div>
        <div>
            <label for="senha1">Senha</label>
            <input type="text" name="senha1" placeholder="Sua senha" required>
        </div>
        <div>
            <label for="senha2">Confirmação de Senha </label>
            <input type="text" name="senha2" placeholder="Confirme sua senha" required>
        </div>
        <div>
            <button type="submit">Criar conta</button>
        </div>

    </form>
</section>




{% endblock conteudo %}