{% extends 'usuario/paginas/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cadastro</title>
</head>
<body>

  {% block conteudo %}

  <h1>Pagina de Cadastro</h1>
  <section>
    <form action="{% url 'usuario:cadastropagina' %}" method="POST">
      {% csrf_token %}

      {% for campo in formulario.visible_fields %}
            <div>
              <label for="{{ campo.id_for_label }}"><b>{{ campo.label }}</b></label>
              {{ campo }}
            </div>
          {% endfor %}

      {% for erro in formulario.errors %}
        <div>
          {{ erro }}
        </div>
      {% endfor %}

      <div>
        <button type="submit">Criar conta</button>
      </div>
      <div>
        <a href="{% url 'menuzin:menupagina' %}">Menu</a>
      </div>

      <div>
        <a href="{% url 'usuario:loginpagina' %}">Login</a>
      </div>

    </form>
  </section>

  {% endblock conteudo %}

</body>
</html>