{% load static %}

<!DOCTYPE html>
<html lang="en">
<html>


{% include 'usuario/parciais/usuario_head.html' %}

<body>

  {% block conteudo %}

  <h1>Pagina de Cadastro</h1>
  <section>
    <form action="{% url 'menuzin:menupagina' %}" method="POST">
      <div class="forma">
        {% csrf_token %}
        {% for campo in formulario.visible_fields %}
      </div>
      <div>
        <label for="{{ campo.id_for_label }}"><b>{{ campo.label }}</b></label>
        {{ campo }}

      </div>
      {% endfor %}

      {% for erro in campo.errors %}
      <div>
        {{ erro }}
      </div>
      {% endfor %}


      <div>
        <button type="submit">Criar conta</button>
      </div>
      <div>
        <a href="{% url 'menuzin:menupagina' %}">Menu</a>
      </div>

    </form>
  </section>

  {% endblock conteudo %}

</body>

</html>