{% extends 'usuario/paginas/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

{% static 'usuario/css/usuarioestilo.css' %}

{% block usuario %}

<body>
    <h1>Página de login</h1>

    <section>
        <form action="{% url 'usuario:loginpagina' %}" method="POST">
            {% csrf_token %}
            <div>
                <label for='{{ formulario.nome_login.id_for_label }}'><b>{{ formulario.nome_login.label }}</b></label>

            </div>

        {% for field in formulario.visible_fields %}
        <div>
            <label for='{{ field.id_for_label }}'><b>{{ field.label }}</b></label>
            {{ field }}
        </div>
        {% endfor %}

        {% for error in formulario.errors %}
        <div>
            <p>{{ error }}</p>
        </div>
        {% endfor %}
            {% for mensagem in messages %}
            <div>
                <p>{{ mensagem }}</p>
            </div>
            {% endfor %}

            <div>
                <button type="Submit">Login</button>
            </div>

            <div>
                <a href="{% url 'usuario:logout' %}">Sair da página</a>
            </div>

            <div>
                <a href="{% url 'usuario:cadastropagina' %}">Página de cadastro</a>
            </div>

            <div>
                <a href="{% url 'menuzin:menupagina' %}">Menu</a>
            </div>

            <div>
                <a href="{% url 'usuario:adicionar_imagem' %}">Adicionar imagem</a>
                <br>
                <a href="{% url 'usuario:apagar_imagem' 1 %}">Apagar imagem</a>
                <br>
                <a href="{% url 'usuario:editar_imagem' 1 %}">Editar imagem</a>
            </div>
        </form>
    </section>
</body>

</html>
{% endblock usuario %}